---
import { exampleStyle } from '../shared/exampleStyles';
---

<div style={exampleStyle}>
  <div
    class="subtle-fill-1 font-size-md text-align-center"
    style="height: 240px;"
  >
    <div class="padding-1 theme-canvas border width-50 height-100 flex-column justify-content-center margin-x-auto">
      <p>
        <code>.height-100</code>
      </p>
    </div>
  </div>
</div>
