---
import GridItem from './GridItem.astro';
import { exampleStyle } from '../shared/exampleStyles';

interface Props {
  gridDividerClass?: string;
}

const {
  gridDividerClass = 'grid--divider',
} = Astro.props;

const items = ['01', '02', '03', '04', '05', '06', '07', '08', '09'];
---

<div style={exampleStyle}>
  <ul class:list={['grid grid--column-3--lg', gridDividerClass]}>
    {items.map((item) => (
      <li>
        <GridItem label={item} />
      </li>
    ))}
  </ul>
</div>
