---
interface Props {
  label?: string;
  itemClass?: string;
}

const {
  label = 'Cell',
  itemClass = '',
} = Astro.props;
---

<div class:list={['subtle-fill-2 padding-2 border font-size-md text-align-center', itemClass]}>
  <p>{label}</p>
</div>
