---
import GridItem from './GridItem.astro';
import { exampleStyle } from '../shared/exampleStyles';
---

<div style={exampleStyle}>
  <div class="grid grid--column-2">
    <GridItem label="01" itemClass="grid__rowspan-2" />
    <GridItem label="02" />
    <GridItem label="03" />
  </div>
</div>
