---
import { exampleStyle } from '../shared/exampleStyles';
---

<div style={exampleStyle}>
  <a class="link" href="#1">
    <span class="link__text">Label</span>
    <span class="icon icon-arrow-right" aria-hidden="true"></span>
  </a>
</div>
