---
import { exampleStyle } from '../shared/exampleStyles';
---

<ul class="nav nav--horizontal--sm justify-content-center" style={exampleStyle}>
  <li>
    <a class="button theme-primary" href="#1">Primary</a>
  </li>
  <li>
    <a class="button theme-secondary" href="#1">Secondary</a>
  </li>
  <li>
    <a class="button theme-dark" href="#1">Dark</a>
  </li>
</ul>
