---
import { exampleStyle } from '../shared/exampleStyles';
---

<div style={exampleStyle}>
  <a class="button button--disperse text-color-link" href="#1">
    <span class="text">Button</span>
    <span class="icon icon-arrow-right" aria-hidden="true"></span>
  </a>
</div>
