---
import { exampleStyle } from '../shared/exampleStyles';
---

<div class="flex-row gap-2 justify-content-center font-size-lg" style={exampleStyle}>
  <a class="button button--icon-only" href="#1" aria-label="Home">
    <span class="icon icon-home" aria-hidden="true"></span>
  </a>

  <a class="button button--icon-only theme-primary" href="#1" aria-label="Print">
    <span class="icon icon-print" aria-hidden="true"></span>
  </a>

  <a class="button button--icon-only text-color-link" href="#1" aria-label="Settings">
    <span class="icon icon-settings" aria-hidden="true"></span>
  </a>
</div>
