---
import { exampleStyle } from '../shared/exampleStyles';
---

<ul class="grid grid--column-2--md gap-3" style={exampleStyle}>
  <li>
    <a class="button button--outline width-100" href="#1">
      Button
    </a>
  </li>
  <li>
    <a class="button button--outline text-color-link width-100" href="#1">
      Button
    </a>
  </li>
</ul>
