---
import { exampleStyle } from '../shared/exampleStyles';
---

<div style={exampleStyle}>
  <button
    class="button width-100 theme-primary"
    data-toggle="collapse"
    aria-controls="collapse-relationship-example"
    aria-expanded="false"
    type="button"
  >
    Navigation
  </button>

  <div class="collapse margin-y-3" id="collapse-relationship-example">
    <div class="border padding-3">
      <nav aria-label="Example navigation">
        <ul class="nav nav--divider">
          <li>
            <a href="#1">Link</a>
          </li>
          <li>
            <a href="#1">Link</a>
          </li>
          <li>
            <a href="#1">Link</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
