---
import { exampleStyle } from '../shared/exampleStyles';
import GenericNavigation from './GenericNavigation.astro';
---

<div class="grid gap-3" style={exampleStyle}>
  <GenericNavigation navClasses="nav--horizontal justify-content-center" />
  <GenericNavigation navClasses="nav--horizontal justify-content-end" />
</div>
