---
interface Props {
  targetFigure?: string | number;
}

const { targetFigure } = Astro.props;
---

<figure class="table-line-desc container narrow margin-y-4 border border-radius-2">
  <h2 class="h5 padding-2 border-bottom">Figure {targetFigure} Notes</h2>
  <div>
    <slot />
  </div>
</figure>
