---
interface Props {
  targetFigure?: string | number;
}

const { targetFigure } = Astro.props;
---

<figure class="container narrow margin-y-4">
  <table class="table table--edge">
    {targetFigure && <caption class="screen-reader-only">Figure {targetFigure} notes</caption>}
    <thead>
      <tr>
        <th class="width-20" scope="col">Lines</th>
        <th class="width-80" scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <slot />
    </tbody>
  </table>
</figure>
