---
import Brand from '../main-menu/Brand.astro';
import FlyoutDemoBehavior from './FlyoutDemoBehavior.astro';

import './flyout-demo.scss';

interface Props {
  id?: string;
}

const {
  id = 'flyout-menu-example',
} = Astro.props;
---

<div class="flyout-demo" data-flyout-demo>

  <div class="flyout-demo__page container width-100 padding-y-2 box-shadow-1">

    <div class="justify-content-between align-items-center display-flex">

      <a href="#1" title="Home" data-logo="brand">
        <Brand />
      </a>

      <button
        class="button button--icon-only font-size-md"
        data-flyout-demo-open
        aria-controls={id}
        aria-label="Open Menu"
        aria-expanded="true"
        type="button"
      >
        <span class="icon icon-menu" aria-hidden="true"></span>
      </button>

    </div>

  </div>

  <div
    class="flyout-demo__overlay is-open"
    id={id}
    data-flyout-demo-overlay
    aria-hidden="false"
  >
    <div
      class="flyout-demo__content"
      role="dialog"
      aria-modal="true"
      aria-label="Main Menu"
    >
      <div class="flyout-demo__header">
        <button
          class="button button--icon-only font-size-md"
          data-flyout-demo-close
          aria-label="Close Menu"
          type="button"
        >
          <span class="icon icon-close" aria-hidden="true"></span>
        </button>
      </div>

      <nav class="flyout-demo__body" aria-label="Main Menu Navigation">
        <ul class="nav nav--divider">
          <li><a href="#1">Home</a></li>
          <li><a href="#1">Trails</a></li>
          <li><a href="#1">Wildlife</a></li>
          <li><a href="#1">Events</a></li>
          <li><a href="#1">About</a></li>
          <li><a href="#1">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<FlyoutDemoBehavior />