---
import { exampleStyle } from '../shared/exampleStyles';
import Footer from './Footer.astro';
---

<div class="card border" style={exampleStyle}>

  <div class="card__head border-bottom">
    <p>Tropical flowers</p>
  </div>

  <div class="card__body">
    <h2 class="h4">
      Gustavia superba
    </h2>
    <p>
      Gustavia superba is an understory tree that grows in <a href="#1">Central</a> and north-western <a href="#1">South America</a>. Common names include membrillo, sachamango and heaven lotus.
    </p>
  </div>

  <Footer />

</div>
