---
import { exampleStyle } from '../shared/exampleStyles';
import FlexItem from './FlexItem.astro';
---

<div class="font-size-md" style={exampleStyle}>
  <div
    class="flex-row justify-content-center align-content-end--lg subtle-fill-1"
    style="height: 240px;"
  >
    <FlexItem label="Item 1" />
    <FlexItem label="Item 2" />
    <FlexItem label="Item 3" />
    <FlexItem label="Item 4" />
    <FlexItem label="Item 5" />
    <FlexItem label="Item 6" />
    <FlexItem label="Item 7" />
    <FlexItem label="Item 8" />
    <FlexItem label="Item 9" />
  </div>
</div>
