---
import { exampleStyle } from '../shared/exampleStyles';
import FlexItem from './FlexItem.astro';
---

<div class="font-size-md" style={exampleStyle}>
  <div class="flex-column flex-row--lg subtle-fill-1">
    <FlexItem label="1" />
    <FlexItem label="2" />
    <FlexItem label="3" />
  </div>
</div>
