---
interface Props {
  label?: string;
  itemClass?: string | null;
}

const {
  label = 'Flex Item',
  itemClass = null,
} = Astro.props;
---

<div class:list={[itemClass, 'padding-x-3 padding-y-2 subtle-fill-2 border text-align-center']}>
  <p>{label}</p>
</div>
