---
import { exampleStyle } from '../shared/exampleStyles';
import FlexItem from './FlexItem.astro';
---

<div class="flex-row subtle-fill-1 font-size-md" style={exampleStyle}>
  <FlexItem label="Flex Item (grow)" itemClass="flex-grow-1" />
  <FlexItem />
</div>
