---
import { exampleStyle } from '../shared/exampleStyles';
import FlexItem from './FlexItem.astro';
---

<div class="grid gap-3 font-size-md" style={exampleStyle}>
  <div class="flex-row subtle-fill-1 justify-content-end--lg">
    <FlexItem label="1" />
    <FlexItem label="2" />
    <FlexItem label="3" />
  </div>
</div>
