---
import { exampleStyle } from '../shared/exampleStyles';
import Field from './Field.astro';
---

<div style={exampleStyle}>
  <Field
    entryType="groupCheck"
    labelText="Form Entry Label"
    entryId="check-option"
    entryName="checkboxGroupExample"
  />
</div>
