---
import { exampleStyle } from '../shared/exampleStyles';
import Field from './Field.astro';
---

<div style={exampleStyle}>
  <Field
    entryType="singleCheckSwitch"
    labelText="Form Entry Label"
    entryId="switch-option"
    entryName="singleOption"
  />
</div>
