---
import { exampleStyle } from '../shared/exampleStyles';
import Field from './Field.astro';
---

<div style={exampleStyle}>
  <Field
    labelText="Form Entry Label"
    helpText="Form entry help text"
    entryId="text-input-example"
    entryName="textInputExample"
  />
</div>
