---
import { exampleStyle } from '../shared/exampleStyles';
import Field from './Field.astro';
---

<div style={exampleStyle}>
  <Field
    entryType="groupRadio"
    labelText="Form Entry Label"
    entryId="radio-option"
    entryName="radioGroupExample"
  />
</div>
