---
import { exampleStyle } from '../shared/exampleStyles';
---

<div style={exampleStyle}>
  <div class="form-entry form-entry--search">
    <label class="form-entry__field">
      <span class="form-entry__field__label screen-reader-only">
        Search
      </span>

      <span class="form-entry__field__input">
        <span class="icon icon-search opacity-50" aria-hidden="true"></span>
        <input
          type="search"
          id="search-example"
          name="searchExample"
        />

        <button
          type="button"
          class="button button--icon-only"
          data-search-clear
          aria-label="Clear search"
          aria-controls="search-example"
        >
          <span class="icon icon-clear" aria-hidden="true"></span>
        </button>

        <button type="submit" class="button theme-primary">
          Search
        </button>
      </span>
    </label>
  </div>
</div>
