---
import { exampleStyle } from '../shared/exampleStyles';
import Field from './Field.astro';
---

<div style={exampleStyle}>
  <Field
    entryType="select"
    labelText="Form Entry Label"
    helpText="Form entry help text"
    entryId="select-example"
    entryName="selectExample"
  />
</div>
