---
import { exampleStyle } from '../shared/exampleStyles';
import Field from './Field.astro';
---

<div style={exampleStyle}>
  <Field
    entryType="singleCheck"
    labelText="Form Entry Label"
    entryId="single-option"
    entryName="singleOption"
  />
</div>
