---
import { exampleStyle } from '../shared/exampleStyles';
import Field from './Field.astro';
---

<div style={exampleStyle}>
  <Field
    entryType="textarea"
    labelText="Form Entry Label"
    helpText="Form entry help text"
    entryId="text-area-example"
    entryName="textAreaExample"
  />
</div>
