---
import { exampleStyle } from '../shared/exampleStyles';
---

<div style={exampleStyle}>
  <ul class="nav nav--divider" style="max-width: 240px;">
    <li>
      <a href="#1">Home</a>
    </li>
    <li>
      <a href="#1">
        <span class="text">Inbox</span>
        <span class="badge theme-primary">4</span>
      </a>
    </li>
    <li>
      <a href="#1">
        <span class="text">Notifications</span>
        <span class="badge theme-secondary">12</span>
      </a>
    </li>
    <li>
      <a href="#1">Archive</a>
    </li>
  </ul>
</div>
