---
import { exampleStyle } from '../shared/exampleStyles';
---

<div class="display-flex gap-2 font-size-lg" style={exampleStyle}>
  <span class="icon icon-home" aria-hidden="true"></span>
  <span class="icon icon-heart" aria-hidden="true"></span>
  <span class="icon icon-info" aria-hidden="true"></span>
</div>
