<div class="container narrow margin-y-4">
  <aside class="accessibility-spotlight alert alert--confirm margin-y-4 border-left border-radius-right-2 text-color-link">
    <div class="alert__title h6">
      <span class="icon icon-accessibility" aria-hidden="true"></span>
      <span class="alert__title__text">Accessibility Spotlight</span>
    </div>
    <div class="alert__description padding-x-0">
      <slot />
    </div>
  </aside>
</div>
