<aside class="accessibility-spotlight theme-light border border-radius-2 padding-3 margin-y-4">
  <h2 class="h4">Accessibility Spotlight</h2>
  <div class="font-size-md">
    <slot />
  </div>
</aside>
