---
import { exampleStyle } from '../shared/exampleStyles';
---

<nav aria-label="Breadcrumb" style={exampleStyle}>
  <ul class="breadcrumb">
    <li>
      <a href="#1">Home</a>
    </li>
    <li>
      <a href="#1">Recipes</a>
    </li>
    <li>
      <a href="#1">Baking</a>
    </li>
    <li aria-current="page">
      Focaccia
    </li>
  </ul>
</nav>
