---
import { exampleStyle } from '../shared/exampleStyles';
import { Image } from 'astro:assets';
import backdropImage from './images/backdrop-example-02.jpg';
---

<div class="backdrop backdrop--stack--lg theme-dark" style={exampleStyle}>
  <div class="backdrop__media">
    <div class="opacity-40--lg">
      <Image src={backdropImage} alt="" layout="full-width" />
    </div>

    <div class="backdrop__media__credit">
      <p>
        Photo by{' '}
        <a
          href="https://unsplash.com/@anik3t?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
          target="_blank"
          rel="noopener"
        >
          Aniket Deole
        </a>
      </p>
    </div>
  </div>

  <div class="backdrop__cover text-align-center">
    <div class="container narrow margin-y-4">
      <div class="text-shadow--lg margin-bottom-4">
        <h1 class="banner-headline text-shadow--lg">
          The mountain at a given distance
        </h1>
        <p>
          &#8212;Excerpt from <em>Delight becomes pictorial</em>
        </p>
      </div>

      <a class="button theme-secondary box-shadow-1" href="#">
        Emily Dickinson Poetry
      </a>
    </div>
  </div>
</div>
