<div class="grid grid--column-4--md gap-3 align-items-end" style="--border-color: currentColor;">
  <div class="aspect-ratio-16x9 border display-flex align-items-center justify-content-center">
    <p>16x9</p>
  </div>

  <div class="aspect-ratio-3x2 border display-flex align-items-center justify-content-center">
    <p>3x2</p>
  </div>

  <div class="aspect-ratio-4x3 border display-flex align-items-center justify-content-center">
    <p>4x3</p>
  </div>

  <div class="aspect-ratio-1x1 border display-flex align-items-center justify-content-center">
    <p>1x1</p>
  </div>
</div>
