---
import { exampleStyle } from '../shared/exampleStyles';
---

<div class="grid grid--column-5 gap-2" style={exampleStyle}>
  <div class="aspect-ratio-1x1 background-color-primary">
    <p class="screen-reader-only">Primary</p>
  </div>
  <div class="aspect-ratio-1x1 background-color-secondary">
    <p class="screen-reader-only">Secondary</p>
  </div>
  <div class="aspect-ratio-1x1 background-color-dark">
    <p class="screen-reader-only">Dark</p>
  </div>
  <div class="aspect-ratio-1x1 background-color-light">
    <p class="screen-reader-only">Light</p>
  </div>
  <div class="aspect-ratio-1x1 background-color-canvas border">
    <p class="screen-reader-only">White</p>
  </div>
</div>
