---
import { exampleStyle } from '../shared/exampleStyles';
---

<div class="theme-primary--lg padding-3" style={exampleStyle}>
  <ul class="nav nav--divider nav--horizontal border border-radius-2" role="navigation">
    <li>
      <a href="#1">Link</a>
    </li>
    <li>
      <a href="#1">Link</a>
    </li>
    <li>
      <a href="#1">Link</a>
    </li>
  </ul>
</div>
