---
import { exampleStyle } from '../shared/exampleStyles';
---

<ul class="nav nav--divider nav--horizontal border border-radius-2" role="navigation" style={exampleStyle}>
  <li>
    <a href="#1">Link</a>
  </li>
  <li>
    <a href="#1">Link</a>
  </li>
  <li>
    <a href="#1">Link</a>
  </li>
</ul>
