---
import { exampleStyle } from '../shared/exampleStyles';
---

<figure class="container narrow margin-y-4">
  <div class="theme-primary padding-3" style={exampleStyle}>
    <p>
      <strong>Primary</strong>
    </p>
    <div class="theme-secondary padding-3 box-shadow-1">
      <p>
        <strong>Secondary</strong>
      </p>
      <div class="theme-dark padding-3 box-shadow-1">
        <p>
          <strong>Dark</strong>
        </p>
        <div class="theme-light padding-3 box-shadow-1">
          <p>
            <strong>Light</strong>
          </p>
          <div class="theme-canvas padding-3 box-shadow-1">
            <p>
              <strong>Canvas</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</figure>
