---
import { exampleStyle } from '../shared/exampleStyles';
---

<div class="display-flex gap-2 justify-content-center font-size-lg text-color-link" style={exampleStyle}>
  <a class="button button--outline" href="#1">
    Sign In
  </a>
  <a class="button button--icon-only" href="#1" aria-label="Language">
    <span class="icon icon-language" aria-hidden="true"></span>
  </a>
  <a class="button button--icon-only" href="#1" aria-label="Search">
    <span class="icon icon-search" aria-hidden="true"></span>
  </a>
</div>
