---
import { exampleStyle } from '../shared/exampleStyles';
import ThemeCard from './ThemeCard.astro';
---

<figure class="margin-y-4">
  <div class="container narrow" style={exampleStyle}>
    <ThemeCard themeColor="Prefers" />
  </div>
</figure>
