---
import { exampleStyle } from '../shared/exampleStyles';
---

<figure class="margin-y-5" style={exampleStyle}>
  <div class="container narrow grid gap-2">
    <div class="theme-primary padding-3">
      <p><strong>Primary</strong></p>
    </div>
    <div class="theme-secondary padding-3">
      <p><strong>Secondary</strong></p>
    </div>
    <div class="theme-dark padding-3">
      <p><strong>Dark</strong></p>
    </div>
    <div class="theme-light padding-3">
      <p><strong>Light</strong></p>
    </div>
    <div class="theme-canvas border padding-3">
      <p><strong>Canvas (default)</strong></p>
    </div>
  </div>
</figure>
