---
import { exampleStyle } from '../shared/exampleStyles';
---

<ul class="nav nav--horizontal justify-content-center" style={exampleStyle}>
  <li>
    <a class="button" href="#1">
      Button
    </a>
  </li>
  <li>
    <a class="button" href="#1">
      Button
    </a>
  </li>
  <li>
    <a class="button text-color-secondary" href="#1">
      Button
    </a>
  </li>
</ul>
