---
import { exampleStyle } from '../shared/exampleStyles';
---

<div class="theme-primary padding-4" style={exampleStyle}>
  <ul class="nav nav--horizontal justify-content-center">
    <li>
      <a class="button" href="#1">
        Button
      </a>
    </li>
    <li>
      <a class="button" href="#1">
        Button
      </a>
    </li>
    <li>
      <a class="button text-color-secondary" href="#1">
        Button
      </a>
    </li>
  </ul>
</div>
