---
interface Props {
  sections?: Array<{
    id: string;
    text: string;
    depth: number;
  }>;
}

const { sections = [] } = Astro.props;
---

{sections.length > 0 && (
  <div class="docs-layout__toc">

    <aside class="container narrow position-sticky-top font-size-sm">
      <strong class="display-block opacity-70 margin-bottom-2">
        On this page:
      </strong>

      <nav id="table-of-contents" aria-label="Table of contents">
        <ul class="nav">
          {sections.map((section) => (
            <li>
              <a href={`#${section.id}`}>
                {section.id === 'introduction' ? 'Introduction' : section.text}
              </a>
            </li>
          ))}
        </ul>
      </nav>
      
    </aside>

  </div>
)}
