---
import { exampleStyle } from '../shared/exampleStyles';
---

<ul class="nav nav--horizontal--md align-items-baseline" style={exampleStyle}>
  <li>
    <span class="font-size-lg">
      Large
    </span>
  </li>
  <li>
    <span class="font-size-rg">
      Regular
    </span>
  </li>
  <li>
    <span class="font-size-md">
      Medium
    </span>
  </li>
  <li>
    <span class="font-size-sm">
      Small
    </span>
  </li>
</ul>
