---
import { exampleStyle } from '../shared/exampleStyles';
---

<div style={exampleStyle}>
  <p class="text-align-left">Text align left</p>
  <p class="text-align-center">Text align center</p>
  <p class="text-align-right">Text align right</p>
</div>
