---
import { exampleStyle } from '../shared/exampleStyles';
---

<div style={exampleStyle}>
  <p class="text-decoration-underline margin-bottom-1">Underline</p>
  <p class="text-decoration-line-through margin-bottom-1">Line through</p>
</div>
