---
import { exampleStyle } from '../shared/exampleStyles';
---

<div style={exampleStyle}>
  <p class="text-transform-capitalize margin-bottom-1">text transform capitalize</p>
  <p class="text-transform-uppercase margin-bottom-1">text transform uppercase</p>
  <p class="text-transform-lowercase margin-bottom-1">text transform lowercase</p>
</div>
