---
import { exampleStyle } from '../shared/exampleStyles';
---

<figure class="margin-y-5">
  <div style={exampleStyle}>
    <div class="container--md medium border subtle-fill-1 padding-y-2 font-size-md">
      <p>Container (medium breakpoint)</p>
    </div>
  </div>
</figure>
