---
import { exampleStyle } from '../shared/exampleStyles';
import Item from './Item.astro';
---

<figure class="margin-y-5">
  <div class="container" style={exampleStyle}>
    <Item
      label="(full width)"
      widthClass="narrow medium--lg wide--xl"
    />
  </div>
</figure>
