---
interface Props {
  label?: string;
  widthClass?: string | null;
}

const {
  label = '(full width)',
  widthClass = null,
} = Astro.props;
---

<div
  class:list={[
    'container border subtle-fill-1 padding-y-2 font-size-md',
    widthClass,
  ]}
>
  <p>Container {label}</p>
</div>