---
import { exampleStyle } from '../shared/exampleStyles';
import Item from './Item.astro';
---

<figure class="margin-y-5">
  <div class="container grid gap-3" style={exampleStyle}>
    <Item label="(narrow width)" widthClass="narrow" />
    <Item label="(medium width)" widthClass="medium" />
    <Item label="(wide width)" widthClass="wide" />
  </div>
</figure>
