---
import corePackage from '../../../../../../packages/core/package.json';
import Logo from './Logo.astro';

const version = corePackage.version;
const currentYear = new Date().getFullYear();
---

<footer class="font-size-md subtle-fill-1" id="global-footer">
  <h2 class="screen-reader-only">Page Footer</h2>

  <div class="container wide padding-y-5">
    <div class="grid grid--column-5--lg gap-5">
      <div class="grid__colspan-2--lg">
        <div class="narrow">
          <a
            class="display-block margin-bottom-2"
            aria-label="Avidano Digital"
            rel="noreferrer"
            target="_blank"
            href="https://avidanodigital.com/"
          >
            <Logo />
          </a>

          <p>
            The Natura11y Design Ecosystem is created and maintained by{' '}
            <a class="link" href="https://avidanodigital.com" target="_blank" rel="noreferrer">
              <span class="text">
               Avidano Digital
              </span>
              <span class="icon icon-open-new" aria-hidden="true"></span>
            </a>,
            a strategic communications agency serving nonprofit and social impact organizations.
          </p>
        </div>
      </div>

      <nav aria-label="Natura11y">
        <p class="opacity-60 margin-bottom-2">{version}</p>

        <ul class="nav">
          <li><a href="/docs/get-started/">Docs</a></li>
          <li><a href="/icons/">Icons</a></li>
          <li><a href="/templates/">Templates</a></li>
          <li><a href="/examples/">Examples</a></li>
        </ul>
      </nav>

      <nav aria-label="Resources">
        <p class="opacity-60 margin-bottom-2">Resources</p>

        <ul class="nav">
          <li>
            <a class="link" href="https://www.npmjs.com/org/natura11y" target="_blank" rel="noreferrer">
              <span class="text">NPM</span>
              <span class="icon icon-open-new" aria-hidden="true"></span>
            </a>
          </li>
          <li>
            <a class="link" href="https://github.com/Natura11y/core" target="_blank" rel="noreferrer">
              <span class="text">GitHub</span>
              <span class="icon icon-open-new" aria-hidden="true"></span>
            </a>
          </li>
          <li>
            <a class="link" href="https://www.figma.com/@avidano" target="_blank" rel="noreferrer">
              <span class="text">Figma</span>
              <span class="icon icon-open-new" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
      </nav>

      <div>
        <a class="button button--outline" href="#primary-content">
          <span class="icon icon-arrow-up" aria-hidden="true"></span>
          <span class="text">Back to top</span>
        </a>
      </div>
    </div>
  </div>

  <div class="padding-y-2 border-top">
    <div class="container wide font-size-sm">
      <div class="flex-column flex-row--md gap-1">
        <span>&copy; {currentYear} - Natura11y Design Ecosystem.</span>
        <span>All Rights Reserved.</span>
      </div>
    </div>
  </div>
</footer>
