---
import { exampleStyle } from '../shared/exampleStyles';

const spacers = [1, 2, 3, 4, 5, 6];
---

<div style={exampleStyle}>
  <div class="grid gap-2 font-size-md text-align-center">
    {spacers.map((spacer) => (
      <div class="subtle-fill-1 overflow-hidden">
        <div class={`theme-canvas border padding-2 margin-${spacer}`}>
          <p class="margin-bottom-1">Margin value (all sides)</p>
          <p>
            <code>{`.margin-${spacer}`}</code>
          </p>
        </div>
      </div>
    ))}
  </div>
</div>
